{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contacto.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center "> <!-- Centra el contenido horizontalmente -->
        <div class="col-md-8 col-lg-6 "> <!-- Limita el ancho del formulario -->
            <h1 class="text-center">Contacto</h1>
            <p class="text-center">Ponte en contacto con nosotros.</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
                </div>
                <div class="text-center"> <!-- Centra el botón -->
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            <div class="container">
                <div class="text-center">
                <br>
                <p>Dirección: Calle Falsa 123, Ciudad, País</p>
                <p>Teléfono: +549 11-2176-8580</p>
                <p>Email: info@estudiojuridico.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


